/* General Styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar */

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.step-list {
  list-style: none;
  padding: 0;
}

.step {
  margin-bottom: 1rem;
}

.step-number {
  margin-right: 1rem;
  font-weight: bold;
}

.active-step {
  color: white;
  font-weight: bold;
}

.inactive-step {
  color: rgba(255, 255, 255, 0.6);
}

/* Main Content */
.main-content {
  width: 75%;
}

.header {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.help-link {
  color: #004fc7;
  text-decoration: none;
  font-weight: bold;

  position: absolute;
  top: 15px;
  right: 15px;
}

.role-content {
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  color: #6b6b6b;
  margin-bottom: 2rem;
}

/* Role Buttons */
.roles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.role-button {
  display: flex;

  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 1rem;

  color: #929292;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

/* Next Button */
.next-button {
  padding: 1rem 2rem;
  background-color: #004fc7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
