.password-reset-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #2b2b2b;
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.password-reset-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.password-reset-container p {
  font-size: 14px;
  margin: 10px 0;
}

.password-reset-container .otp-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.password-reset-container .otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.password-reset-container .otp-input:focus {
  border-color: #007bff;
  outline: none;
}

.password-reset-container .continue-button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.password-reset-container .continue-button:hover {
  background-color: #0056b3;
}

.password-reset-container .resend-code {
  margin-top: 10px;
  font-size: 14px;
}

.password-reset-container .resend-code a {
  color: #007bff;
  text-decoration: none;
}

.password-reset-container .resend-code a:hover {
  text-decoration: underline;
}
